  <nav id="nav-bar">
    <div class="nav">
    <a href="/reviews">All reviews</a>
    <a href="/reviews/create" class="left">Create review</a>
    <a href="/userProfile" class="left">My profile</a>
    <a href="/logout" id="logout">Log out</a>
    </div>
  </nav>
<br>
<br>


{{#each reviews}}
<div class="review-container">
<div>
 <h3>{{title}}</h3>
</div>
<div>
<p><u> Movie reviewed:</u> {{movieName}}</p>
<p><u>Director:</u> {{director}} </p>
<p><u>Ranking:</u> {{ranking}}/10 </p>
{{#each user}}
<u> {{username}}</u> wrote: <br> <br>
{{/each}}
 <i> "{{review}}"</i>
</div>
</div>
{{/each}}

