 <nav id="nav-bar">
    <div class="nav">
    <a href="/reviews">All reviews</a>
    <a href="/reviews/create" class="left">Create review</a>
    <a href="/userProfile" class="left">My profile</a>
    <a href="/logout" id="logout">Log out</a>
    </div>
  </nav>
<br>
<br>
  
{{#if userInSession}}
<div class="greeting">
  <h2>Welcome, {{userInSession.username }}!</h2>
  <p>This is your profile page</p>
  <p>Below you can see all your reviews:</p> 
  </div>


{{#each review}}
<div class="review-container">
  <h3>{{title}}</h3>
  <a href="/userProfile/{{_id}}/edit">I want to edit this review</a>
  <p><u> Movie reviewed</u>:{{movieName}}</p>
<p><u>Director</u>: {{director}} </p>
<p><u>Ranking</u>: {{ranking}}/10 </p>
<p><u>You wrote about this movie</u>: <br><br> <i> "{{review}}"</i></p>


<form action="/userProfile/{{_id}}/delete" method="POST">
      <button>Delete</button>
    </form>
<br>
</div>
  {{/each}}
  
{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}